body {
  font-family: 'Arial', sans-serif; /* Fuente general */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Color de fondo */
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #f0f0f0; /* Fondo gris claro */
  font-family: Arial, sans-serif; /* Fuente clara */
}

.loading-screen h1 {
  font-size: 2em; /* Tamaño del texto */
  color: #333; /* Color del texto */
  margin-top: 20px; /* Espaciado entre el spinner y el texto */
}

.spinner {
  border: 8px solid #f3f3f3; /* Color de fondo del spinner */
  border-top: 8px solid #3498db; /* Color de la parte superior */
  border-radius: 50%; /* Forma circular */
  width: 60px; /* Ancho del spinner */
  height: 60px; /* Alto del spinner */
  animation: spin 2s linear infinite; /* Animación del spinner */
}

/* Animación para el spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

